Dependency Finder.i??
DependencyFinder/bin/ClassClassDiff
DependencyFinder/bin/ClassClassDiff.bat
DependencyFinder/bin/ClassCohesion
DependencyFinder/bin/ClassCohesion.bat
DependencyFinder/bin/ClassDump
DependencyFinder/bin/ClassDump.bat
DependencyFinder/bin/ClassFinder
DependencyFinder/bin/ClassFinder.bat
DependencyFinder/bin/ClassList
DependencyFinder/bin/ClassList.bat
DependencyFinder/bin/ClassMetrics
DependencyFinder/bin/ClassMetrics.bat
DependencyFinder/bin/ClassReader
DependencyFinder/bin/ClassReader.bat
DependencyFinder/bin/ClosureToText
DependencyFinder/bin/ClosureToText.bat
DependencyFinder/bin/DependablesToHTML
DependencyFinder/bin/DependablesToHTML.bat
DependencyFinder/bin/DependablesToText
DependencyFinder/bin/DependablesToText.bat
DependencyFinder/bin/DependencyClosure
DependencyFinder/bin/DependencyClosure.bat
DependencyFinder/bin/DependencyCycles
DependencyFinder/bin/DependencyCycles.bat
DependencyFinder/bin/DependencyExtractor
DependencyFinder/bin/DependencyExtractor.bat
DependencyFinder/bin/DependencyGraphToFullyQualifiedNames
DependencyFinder/bin/DependencyGraphToFullyQualifiedNames.bat
DependencyFinder/bin/DependencyGraphToGraphML
DependencyFinder/bin/DependencyGraphToGraphML.bat
DependencyFinder/bin/DependencyGraphToHTML
DependencyFinder/bin/DependencyGraphToHTML.bat
DependencyFinder/bin/DependencyGraphToRDF
DependencyFinder/bin/DependencyGraphToRDF.bat
DependencyFinder/bin/DependencyGraphToText
DependencyFinder/bin/DependencyGraphToText.bat
DependencyFinder/bin/DependencyGraphToUnconfirmedFullyQualifiedNames
DependencyFinder/bin/DependencyGraphToUnconfirmedFullyQualifiedNames.bat
DependencyFinder/bin/DependencyGraphToyEd
DependencyFinder/bin/DependencyGraphToyEd.bat
DependencyFinder/bin/DependencyMetrics
DependencyFinder/bin/DependencyMetrics.bat
DependencyFinder/bin/DependencyReporter
DependencyFinder/bin/DependencyReporter.bat
DependencyFinder/bin/DependentsToHTML
DependencyFinder/bin/DependentsToHTML.bat
DependencyFinder/bin/DependentsToText
DependencyFinder/bin/DependentsToText.bat
DependencyFinder/bin/DiffToFullyQualifiedNames
DependencyFinder/bin/DiffToFullyQualifiedNames.bat
DependencyFinder/bin/DiffToHTML
DependencyFinder/bin/DiffToHTML.bat
DependencyFinder/bin/HideInboundDependenciesToHTML
DependencyFinder/bin/HideInboundDependenciesToHTML.bat
DependencyFinder/bin/HideInboundDependenciesToText
DependencyFinder/bin/HideInboundDependenciesToText.bat
DependencyFinder/bin/HideOutboundDependenciesToHTML
DependencyFinder/bin/HideOutboundDependenciesToHTML.bat
DependencyFinder/bin/HideOutboundDependenciesToText
DependencyFinder/bin/HideOutboundDependenciesToText.bat
DependencyFinder/bin/JarJarDiff
DependencyFinder/bin/JarJarDiff.bat
DependencyFinder/bin/ListDeprecatedElements
DependencyFinder/bin/ListDeprecatedElements.bat
DependencyFinder/bin/ListDiff
DependencyFinder/bin/ListDiff.bat
DependencyFinder/bin/ListDiffToHTML
DependencyFinder/bin/ListDiffToHTML.bat
DependencyFinder/bin/ListDiffToText
DependencyFinder/bin/ListDiffToText.bat
DependencyFinder/bin/ListInheritanceDiffToText
DependencyFinder/bin/ListInheritanceDiffToText.bat
DependencyFinder/bin/ListSymbols
DependencyFinder/bin/ListSymbols.bat
DependencyFinder/bin/ListUnused
DependencyFinder/bin/ListUnused.bat
DependencyFinder/bin/MetricsToHTML
DependencyFinder/bin/MetricsToHTML.bat
DependencyFinder/bin/MetricsToText
DependencyFinder/bin/MetricsToText.bat
DependencyFinder/bin/XSLTProcess
DependencyFinder/bin/XSLTProcess.bat
DependencyFinder/bin/c2c
DependencyFinder/bin/c2c.bat
DependencyFinder/bin/c2p
DependencyFinder/bin/c2p.bat
DependencyFinder/bin/f2f
DependencyFinder/bin/f2f.bat
DependencyFinder/bin/p2p
DependencyFinder/bin/p2p.bat
DependencyFinder/classes
DependencyFinder/dist
DependencyFinder/docs/Developer.html
DependencyFinder/docs/Manual.html
DependencyFinder/docs/Tools.html
DependencyFinder/lib/DependencyFinder.jar

DependencyFinder/build.example.xml
DependencyFinder/df.xml
DependencyFinder/docs/api
DependencyFinder/fit/tests/files/css
DependencyFinder/fit/tests/files/images/collapsableClosed.gif
DependencyFinder/fit/tests/files/images/collapsableOpen.gif
DependencyFinder/reports/
DependencyFinder/tests/JarJarDiff/new.txt
DependencyFinder/tests/JarJarDiff/new/ModifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/new/NewPackage/*.class
DependencyFinder/tests/JarJarDiff/new/UnmodifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/newpublished/ModifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/newpublished/UnmodifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/old.txt
DependencyFinder/tests/JarJarDiff/old/ModifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/old/RemovedPackage/*.class
DependencyFinder/tests/JarJarDiff/old/UnmodifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/oldpublished/ModifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/oldpublished/UnmodifiedPackage/*.class
DependencyFinder/tests/JarJarDiff/*level.*
DependencyFinder/tests/Metrics/*.class
DependencyFinder/tests/Metrics/client/*.class
DependencyFinder/tests/Metrics/onewordpackagename/*.class
DependencyFinder/tests/Metrics/provider/*.class
DependencyFinder/tests/Metrics/three/words/packagename/*.class
DependencyFinder/tests/Metrics/tla/*.class
DependencyFinder/tests/Metrics/tla/*.class
DependencyFinder/tests/Metrics/tla/*.class
DependencyFinder/tests/Metrics/twowords/packagename/*.class
website/cgi-bin/Journal.cgi
website/cgi-bin/Journal.html
