bin/ClassClassDiff
bin/ClassClassDiff.bat
bin/ClassCohesion
bin/ClassCohesion.bat
bin/ClassDump
bin/ClassDump.bat
bin/ClassFinder
bin/ClassFinder.bat
bin/ClassList
bin/ClassList.bat
bin/ClassMetrics
bin/ClassMetrics.bat
bin/ClassReader
bin/ClassReader.bat
bin/ClosureToText
bin/ClosureToText.bat
bin/DependablesToHTML
bin/DependablesToHTML.bat
bin/DependablesToText
bin/DependablesToText.bat
bin/DependencyClosure
bin/DependencyClosure.bat
bin/DependencyCycles
bin/DependencyCycles.bat
bin/DependencyExtractor
bin/DependencyExtractor.bat
bin/DependencyGraphToDOT
bin/DependencyGraphToDOT.bat
bin/DependencyGraphToFullyQualifiedNames
bin/DependencyGraphToFullyQualifiedNames.bat
bin/DependencyGraphToGraphML
bin/DependencyGraphToGraphML.bat
bin/DependencyGraphToHTML
bin/DependencyGraphToHTML.bat
bin/DependencyGraphToJSON
bin/DependencyGraphToJSON.bat
bin/DependencyGraphToRDF
bin/DependencyGraphToRDF.bat
bin/DependencyGraphToText
bin/DependencyGraphToText.bat
bin/DependencyGraphToUnconfirmedFullyQualifiedNames
bin/DependencyGraphToUnconfirmedFullyQualifiedNames.bat
bin/DependencyGraphToYAML
bin/DependencyGraphToYAML.bat
bin/DependencyGraphToyEd
bin/DependencyGraphToyEd.bat
bin/DependencyMetrics
bin/DependencyMetrics.bat
bin/DependencyReporter
bin/DependencyReporter.bat
bin/DependentsToHTML
bin/DependentsToHTML.bat
bin/DependentsToText
bin/DependentsToText.bat
bin/DiffToFullyQualifiedNames
bin/DiffToFullyQualifiedNames.bat
bin/DiffToHTML
bin/DiffToHTML.bat
bin/HideInboundDependenciesToHTML
bin/HideInboundDependenciesToHTML.bat
bin/HideInboundDependenciesToText
bin/HideInboundDependenciesToText.bat
bin/HideOutboundDependenciesToHTML
bin/HideOutboundDependenciesToHTML.bat
bin/HideOutboundDependenciesToText
bin/HideOutboundDependenciesToText.bat
bin/JarJarDiff
bin/JarJarDiff.bat
bin/ListDeprecatedElements
bin/ListDeprecatedElements.bat
bin/ListDiff
bin/ListDiff.bat
bin/ListDiffToHTML
bin/ListDiffToHTML.bat
bin/ListDiffToText
bin/ListDiffToText.bat
bin/ListDynamicInstructions
bin/ListDynamicInstructions.bat
bin/ListInheritanceDiffToText
bin/ListInheritanceDiffToText.bat
bin/ListSymbols
bin/ListSymbols.bat
bin/ListUnused
bin/ListUnused.bat
bin/MetricsToHTML
bin/MetricsToHTML.bat
bin/MetricsToJSON
bin/MetricsToJSON.bat
bin/MetricsToText
bin/MetricsToText.bat
bin/MetricsToYAML
bin/MetricsToYAML.bat
bin/c2c
bin/c2c.bat
bin/c2p
bin/c2p.bat
bin/f2f
bin/f2f.bat
bin/p2p
bin/p2p.bat
classes
dist
docs/Developer.html
docs/Manual.html
docs/Tools.html
lib/*.jar

.gradle
build
build.example.xml
df.xml
docs/api
reports/

# Code coverage byproducts
cobertura
