.release {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: baseline;
    margin: 2rem 0;
}

.release .header {
    background: gray;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 0.25rem;
}

.release .header:first-of-type {
    text-align: left;
}

.release .name {
    font-size: larger;
    text-align: center;
    grid-column: 1 / -1;
}

.release .section {
    grid-column: 1 / -1;
    margin-top: 0.5rem;
    margin-bottom: 0.15rem;
    font-weight: bold;
}

.feature {
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.status {
    padding: 0.1rem 0.5rem;
}

.status.done {
    background: rgb(0, 238, 0);
    color: white;
    font-weight: bold;
    text-align: center;
}

.status.in-progress {
    background: gold;
    color: white;
    font-weight: bold;
    text-align: center;
}

.status.not-started {
    background: red;
    color: white;
    font-weight: bold;
    text-align: center;
}

.status.canceled {
    text-align: center;
    font-size: smaller;
}

.dates {
    padding: 0.1rem 0.5rem
}
