.lowlight {
    background: rgb(204, 204, 255);
}

.highlight {
    border: thin dashed gray;
    background: rgb(255, 255, 136);
}

.description {
    color: gray;
}

th {
    background: gray;
    color:      white;
}

th:first-child {
    text-align: left;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 10px;
}

body {
    background: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

code {
    color: green;
}
