.feature {
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

.status {
    padding: 0 0.25rem;
}

.status.done {
    background:  rgb(0, 238, 0);
    color:       white;
    font-weight: bold;
    text-align:  center;
}

.status.in-progress {
    background:  gold;
    color:       white;
    font-weight: bold;
    text-align:  center;
}

.status.not-started {
    background:  red;
    color:       white;
    font-weight: bold;
    text-align:  center;
}

.status.canceled {
    text-align: center;
    font-size: smaller;
}

.lowlight {
    background: rgb(204, 204, 255);
}

.highlight {
    border: thin dashed gray;
    background: rgb(255, 255, 136);
}

.description {
    color: gray;
}

th {
    background: gray;
    color:      white;
}

th:first-child {
    text-align: left;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 10;
}

body {
    background: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

code {
    color: green;
}
