.done {
    background:  rgb(0, 238, 0);
    color:       white;
    font-weight: bold;
    text-align:  center;
}

.inprogress {
    background:  gold;
    color:       white;
    font-weight: bold;
    text-align:  center;
}

.notstarted {
    background:  red;
    color:       white;
    font-weight: bold;
    text-align:  center;
}

.canceled {
    text-align: center;
}

.lowlight {
    background: rgb(204, 204, 255);
}

.highlight {
    border: thin dashed gray;
    background: rgb(255, 255, 136);
}

.description {
    color: gray;
}

th {
    background: gray;
    color:      white;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 10;
}

body {
    background: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

code {
    color: green;
}
