<?xml version="1.0" encoding="ISO-8859-1" ?>

<!--
    Copyright (c) 2001-2009, Jean Tessier
    All rights reserved.
    
    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions
    are met:
    
        * Redistributions of source code must retain the above copyright
          notice, this list of conditions and the following disclaimer.
    
        * Redistributions in binary form must reproduce the above copyright
          notice, this list of conditions and the following disclaimer in the
          documentation and/or other materials provided with the distribution.
    
        * Neither the name of Jean Tessier nor the names of his contributors
          may be used to endorse or promote products derived from this software
          without specific prior written permission.
    
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
    "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
    A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR
    CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
    EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
    PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
    PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
    LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
    NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">

    <display-name>Dependency Finder</display-name>
    <description>Extracting and querying dependency graphs.</description>

    <context-param>
        <param-name>name</param-name>
        <param-value>Dependency Finder</param-value>
        <description>The identifier displayed in web pages.</description>
    </context-param>
    <context-param>
        <param-name>source</param-name>
        <param-value>C:\language\Java\myprojects\depfind\DependencyFinder\classes</param-value>
        <description>Where to extract dependencies from.  Separate multiple
        locations with commas.  Each location can either be a JAR file, a
        ZIP file, a .class file, or a directory that will be recursively
        searched for .class files.</description>
    </context-param>
    <context-param>
        <param-name>showSource</param-name>
        <param-value>true</param-value>
        <description>Whether or not to display the value of the "source"
        parameter on extract.jsp.  This may expose sensitive information, so
        the starting value is "false", but you can change it to "true" to show
        the entries in "source" as a bullet list on extract.jsp.</description>
    </context-param>
    <context-param>
        <param-name>filterIncludes</param-name>
        <param-value>//</param-value>
        <description>The name of a package, class, or feature that the elements
        being analyzed depend on must match at least one of the comma-separated
        regular expressions for the dependency to be included in the dependency
        graph.</description>
    </context-param>
    <context-param>
        <param-name>filterExcludes</param-name>
        <param-value>/^java/, /^org/</param-value>
        <description>The name of a package, class, or feature that the elements
        being analyzed depend on must not match any of the comma-separated
        regular expressions for the dependency to be included in the dependency
        graph.</description>
    </context-param>
    <context-param>
        <param-name>file</param-name>
        <param-value>C:\language\Java\myprojects\depfind\DependencyFinder\df.xml</param-value>
        <description>Where to load dependencies from.  Separate multiple
        locations with commas.  Each location should be an XML document
        that follows the dependencies DTD.</description>
    </context-param>
    <context-param>
        <param-name>showFile</param-name>
        <param-value>true</param-value>
        <description>Whether or not to display the value of the "file"
        parameter on load.jsp.  This may expose sensitive information, so the
        starting value is "false", but you can change it to "true" to show the
        entries in "file" as a bullet list on load.jsp.</description>
    </context-param>
    <context-param>
        <param-name>mode</param-name>
        <param-value>raw</param-value>
        <description>One of MINIMIZE, MAXIMIZE, or RAW.  Case insensitive.</description>
    </context-param>

    <welcome-file-list>
        <welcome-file>query.jsp</welcome-file>
    </welcome-file-list>

</web-app>

