body {
    background: rgb(255, 235, 205);
    white-space: nowrap;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.packagename {
    font-weight: bold;
    font-size: larger;
    background-color: gray;
    color: rgb(255, 245, 230);
}

.packagename_inferred {
    font-weight: bold;
    font-size: larger;
    background-color: lightgray;
    color: rgb(255, 245, 230);
}

.classes {
    margin: 15px 0 15px 50px;
}

.classname {
    font-weight: bold;
    font-size: larger;
}

.features {
    margin: 15px 0 15px 50px;
}

.featurename {
    font-weight: bold;
}

.dependencies {
    margin: 0 0 15px 50px;
}

.dependency {
    font-family: monospace;
    font-size: smaller;
}

.inferred {
    color: gray;
}

a:visited.inferred {
    color: gray;
}
