body {
    background: white;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

.projectname {
    font-weight: bold;
    font-size: larger;
}

.groups {
    margin: 15px 0 15px 0;
}

.groupname {
    font-weight: bold;
    font-size: larger;
    background-color: gray;
    color: white;
}

.classes {
    margin: 15px 0 15px 2rem;
}

.classname {
    font-weight: bold;
    font-size: larger;
}

.methods {
    margin: 15px 0 15px 2rem;
}

.methodname {
    font-weight: bold;
}

.measurements {
    margin: 15px 0 15px 2rem;
}

.measurementname {
}

.measurementvalue {
    font-family: monospace;
    font-size: smaller;
}

.members {
    margin: 0 0 0 2rem;
}

.member {
    font-family: monospace;
    font-size: smaller;
}

.histogram {
    display: grid;
    grid-template-columns: max-content minmax(1rem, max-content) max-content;
    margin: 0 0 0 2rem;
}

.histogram span {
    font-family: monospace;
    font-size: smaller;
    text-align: center;
}

.histogram .value {
    text-align: right;
}

.histogram .count {
    text-align: left;
}
