body {
	background: rgb(255, 235, 205);
	color:      rgb( 25,  25, 112);
}

table.controls {
	background:   rgb(204, 204, 255);
	border-width: 3;
}

hr {
	background: rgb(204, 204, 255);
}

.title {
	text-align:  center;
	font-weight: bold;
}

.result {
	color:  black;
}
