body {
	background: rgb(255, 235, 205);
	color:      rgb( 25,  25, 112);
}

table.controls {
	background:   rgb(204, 204, 255);
	border-width: 3;
}

hr {
	background: rgb(204, 204, 255);
}

th.navigation {
}

th.currentnavigation {
	background: rgb(255, 187, 187);
}

.title {
	text-align:  center;
	font-famiy:  courier, monospace;
	font-weight: bold;
	font-size:   larger;
}

.result {
	color:  black;
}

.footer {
	font-size: smaller;
}
