body {
	background: white;
	white-space: nowrap;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.projectname {
	font-weight: bold;
	font-size: larger;
}

.groups {
	margin: 15px 0 15px 0;
}

.groupname {
	font-weight: bold;
	font-size: larger;
	background-color: gray;
	color: white;
}

.classes {
	margin: 15px 0 15px 50px;
}

.classname {
	font-weight: bold;
	font-size: larger;
}

.methods {
	margin: 15px 0 15px 50px;
}

.methodname {
	font-weight: bold;
}

.measurements {
	margin: 15px 0 15px 50px;
}

.measurementname {
}

.measurementvalue {
	font-family: monospace;
	font-size: smaller;
}

.members {
	margin: 0 0 0 50px;
}

.member {
	font-family: monospace;
	font-size: smaller;
}
