body {
    background: white;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.packagename {
    font-weight: bold;
    font-size: larger;
    background-color: gray;
    color: white;
}

.classes {
    margin: 15 0 15 50;
}

.classname {
    font-weight: bold;
    font-size: larger;
}

.features {
    margin: 15 0 15 50;
}

.featurename {
    font-weight: bold;
}

.dependencies {
    margin: 0 0 15 50;
}

.dependency {
    font-family: monospace;
    font-size: smaller;
}
